@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

@layer base {
  * {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0 !important;
    font-weight: bold !important;
  }
  p {
    margin: 0 !important;
  }
  h1 {
    @apply text-2xl font-bold;
  }
  h2 {
    @apply text-xl font-bold;
  }
  h3 {
    @apply text-lg font-bold;
  }
  h4 {
    @apply text-base font-bold;
  }
  h5 {
    @apply text-sm font-bold;
  }
  h6 {
    @apply text-xs font-bold;
  }
  ol {
    @apply list-decimal;
  }
  ul {
    @apply list-disc;
  }
}
